<div class="avatar">
    <div class="max-w-2 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
       <img class="max-w-16 max-h-16" src="<%= userInfo.image %>" alt="user profile picture"/>
    </div>
    <span class="flex ml-6 self-center"> <%= userInfo.displayName %> </span>    
  </div>