<footer class="flex footer justify-content-end p-10 bg-neutral text-base-100">
    <div>
      <img class="max-h-9 mt-2" src="/css/images/golden-nuggets-logo-lr.png" alt="golden nuggets logo">
      <p class="font-bold my-5">
       Golden Nuggets Ltd. <br>Fostering reading communities.
      </p> 
      <p>Copyright © 2022 - All rights reserved</p>
    </div> 
  </footer>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>