<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Nuggets</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar bg-primary text-primary-content">
        <div class="flex-1">
            <img class="max-h-9 mx-7" src="css/images/golden-nuggets-logo-lr.png" alt="Golden Nuggets Logo">
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal p-0">
            <li><a>Explore</a></li>
            <li><a href="/profile"> My Collection </a></li>
            <li><a class="btn btn-accent text-primary" href="/auth/google">Sign In</a></li>  
            <li><a class="btn btn-accent text-primary" href="/auth/logout">Log out</a></li>          
          </ul>
        </div>
        
      </div>



        <!-- logo -->
        <!-- <li>
            <a href="/auth/google">Login</a>
        </li> -->
        <!-- <a href="#" class="menu-logo">
            <img src="css/images/golden-nuggets-logo-lr.png" alt="Golden Nuggets Logo">
        </a>    -->
    


     <!-- <nav class="menu-container">
        <!- Burger Menu -->
        <!-- <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span> -->

     
        
        <!-- menu items -->
        <!-- <div class="menu">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">Sign-up</a>
                </li>
              
            </ul>
        </div> --> 