<div class="flex justify-center mt-5 ">
<form class="flex w-8/12 justify-center">
   <label for="comment" name="postComment"></label><br>
   <input type="text" placeholder="Aha's" class="input input-bordered input-lg w-full max-w-xl"/>
</form>
</div>
   <!-- lg -->