<div class="flex justify-center mt-5">
<form class="w-8/12">
   <!-- lg -->
   <label for="comment" name="postComment">Comment</label><br>
   <input type="text" placeholder="Aha's" class="input input-bordered input-lg w-full max-w-xl" />
</form>
</div>

<!--     
   <label for="author" name="author">Author</label><br>
   <input type="text" placeholder="Author" class="input input-bordered input-sm w-full max-w-xs" /><br>
   md 
   <label for="book-title" name="book-title">Book</label><br>
   <input type="text" placeholder="Book Title" class="input input-bordered input-md w-full max-w-xs" /><br> -->