<%- include('partials/header') -%>
<section>
    <%- include('partials/newpost') -%>
</section>
<section>
    <h4 class="flex justify-center mt-10">Trending Nuggets</h4>
</section>
<section>
    <%- include('partials/feedposts') -%>
</section>

<%- include('partials/footer') -%>