<%- include('partials/header') -%>
<div class="hero min-h-screen" style="background-image: url(/assets/images/books-golden.jpg);"  alt="a collection of books">

  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold text-base-100">Golden Nuggets</h1>
      <p class="mb-5 text-base-100">Share your insights with other readers.</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>