<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Nuggets</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="menu-container">
        <!-- Burger Menu -->
        <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span>

        <!-- logo -->
        <a href="#" class="menu-logo">
            <img src="css/images/golden-nuggets-logo-lr.png" alt="Golden Nuggets Logo">
        </a>   
        
        <!-- menu items -->
        <div class="menu">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">Sign-up</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="welcome-section">  
            <h1>Golden Nuggets</h1>
            <h2>Join a community of readers</h2>
    </section>
    <footer>
        
    </footer>

</body>
</html>