<%- include('partials/header') -%>
    <section class="welcome-section">  
            <h1>Golden Nuggets</h1>
            <h2>Join a community of readers</h2>
    </section>
<%- include('partials/footer') -%>