<%- include('partials/header') -%>
<section class="min-h-[70vh]">
    <div class="flex card w-96 bg-base-100 shadow-xl">
        <div class="flex card-body items-center text-center justify-content-center self-center ">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions">
            <button class="btn btn-error"><a href="auth/google">Log in with Google</a></button>
          </div>
        </div>
      </div>
</section>

  <%- include('partials/footer') -%>