<%- include('partials/header') -%>
<section>
    <h3>Create a new Reading Community</h3>
    <form action="/group/createGroup" method="POST">
        <p>
          <input type="text" id="bookTitle" name="bookTitle"/>
          <label for="bookTitle">Book Title</label>
        </p>
        <p>
           <input type="text" id="author" name="author"/>
           <label for="author">Author</label>
        </p>
        <p>
           <input type="text" id="description" name="description"/>
           <label for="description">Group Description</label>
         </p>
         <button type="submit">Create New Group</button>
    </form>

</section>


<%- include('partials/footer') -%>